{% extends "base.html" %}

{% block content %}
    <div class="card grid-2">
        <div>
            <h2>{{ title }}</h2>
            <p class="text-secondary">Zde můžete přidat novou položku do domácnosti nebo upravit její aktuální stav.</p>
        </div>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.nazev.label }}
                {{ form.nazev() }} 
                </div>
            
            <div class="form-group">
                {{ form.kategorie.label }}
                {{ form.kategorie() }}
            </div>

            <div class="grid grid-2">
                <div class="form-group">
                    {{ form.mnozstvi_v_baleni.label }}
                    {{ form.mnozstvi_v_baleni() }}
                    <p class="text-secondary" style="font-size: 0.875rem; margin-top: 0.5rem;">
                        Např. 3.0 = 3 celá balení, 2.5 = 2 celá a 1 poloviční.
                    </p>
                </div>
                <div class="form-group">
                    {{ form.minimum_pro_upozorneni.label }}
                    {{ form.minimum_pro_upozorneni() }}
                     <p class="text-secondary" style="font-size: 0.875rem; margin-top: 0.5rem;">
                        Např. 1.0 = upozornit při načnutí posledního balení.
                    </p>
                </div>
            </div>

            <div class="form-group">
                {{ form.popis_baleni.label }}
                {{ form.popis_baleni() }}
            </div>
            
            {{ form.submit(class="btn btn-primary mt-1") }}
        </form>
    </div>
{% endblock %}