{% extends "base.html" %}

{% block content %}
    <h2>{{ title }} ({{ items|length }})</h2>
    
    {% if items %}
        <table>
            <thead>
                <tr>
                    <th>Kategorie</th>
                    <th>Název produktu</th>
                    <th>Stav</th>
                    <th>Limit</th>
                    <th>Popis balení</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr {% if item.dochazi() %}class="low-stock"{% endif %}>
                        <td><a href="{{ url_for('main.kategorie_detail', cat_id=item.kategorie_id) }}">{{ item.kategorie.nazev }}</a></td>
                        <td>{{ item.nazev }}</td>
                        <td>{{ item.get_stav() }}</td>
                        <td>{{ "%.2f"|format(item.minimum_pro_upozorneni) }}</td>
                        <td>{{ item.popis_balení or 'Není vyplněn' }}</td>
                        <td>
                            <a href="{{ url_for('inventory.edit_item', item_id=item.id) }}">Upravit</a> | 
                            <form method="POST" action="{{ url_for('inventory.delete_item', item_id=item.id) }}" style="display:inline;">
                                <button type="submit" onclick="return confirm('Opravdu chcete smazat tuto položku?')" style="color: red; border: none; background: none; cursor: pointer;">Smazat</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Zatím v této kategorii nemáme žádné zásoby.</p>
    {% endif %}

{% endblock %}